* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Always show scrollbar */
html {
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
}

/* Toolbox */
.no-padding {
  padding: 0 !important;
}

.padding {
  padding: 15px 20px !important;
}


/* Grid system */
.row:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
}

[class*='col-'] {
  float: left;
  padding-right: 10px;
  margin-bottom: 8px;
}

.row [class*='col-']:last-of-type {
  padding-right: 0;
}

.col-1-1 { width: 100%; }
.col-3-4 { width: 75%; }
.col-2-3 { width: 66.66%; }
.col-1-3 { width: 33.33%; }
.col-1-2 { width: 50%; }
.col-1-4 { width: 25%; }
.col-1-8 { width: 12.5%; }

/* Basic page setup */
body {
  font-family: 'Open Sans', sans-serif;
  color: #333;
  line-height: 1.5;
  background: whitesmoke;
}

h3 {
  font-weight: 300;
  font-size: 1.5em;
}

.pagewrap {
  width: 1000px;
  margin: 0 auto;
}

.tagline {
  font-weight: 300;
  font-style: italic;
  font-size: 1.2em;
  color: #CF1818;
  margin-bottom: 1em;
}

a[href] {
  color: #4472b9;
}

a[href]:hover {
  color: #888;
}

#main ul,
#main ol {
  padding-left: 20px;
}

p {
  margin-bottom: 1em;
}

img {
  max-width: 100%;
}

/* HEADER */
header {
  background-color: white;
  border-bottom: 1px solid #cccccc;
  margin-bottom: 15px;
}

header .brand {
  font-size: 22px;
  font-weight: bold;
  float: left;
  margin-right: 10px;
  padding-top: 10px;
}

/* Navigation */
nav .nav {
  margin: 0;
}

nav .nav a {
  color: black;
}

nav .nav a:hover {
  color: black;
}

nav li {
  font-size: 1.1em;
  display: inline;
}

nav li a {
  color: #444;
  text-decoration: none;
  padding: 15px 20px;
  display: inline-block;
}

nav li a:hover {
  background: #fafafa;
}

nav .fa-chevron-down {
  font-size: .8em;
}

/* Panels */
.panel {
    background-color: white;
    margin-bottom: 15px;
    border: 1px solid #d3d2d2;
    box-shadow: 0 2px 4px rgba(0,0,0,0.15);
    position: relative;
    padding: 20px;
}

.panel header {
    background-color: whitesmoke;
    padding: 10px 15px;
    border-bottom: 1px solid #b3b2b2;
}

/* FOOTER */
footer {
  text-align: center;
  margin-bottom: 1em;
}

/* FORM ELEMENTS */
/* Form elements */
label {
  display: block;
  font-weight: bold;
  font-size: .8em;
}

textarea,
input[type=text],
input[type=email] {
  padding: 5px 10px;
  margin-bottom: 8px;
  border: 1px solid #ddd;
  font-size: 1.1em;
  outline: none;
  transition: all .1s ease-in-out;
  box-shadow: inset 0 2px 2px rgba(0,0,0, 0.05);
}

textarea:focus,
input[type=text]:focus,
input[type=email]:focus {
  border-color: #53aded;
}

/* Buttons */
.button {
  -webkit-appearance: none;
  border: none;
  position: relative;
  vertical-align: middle;
  display: inline-block;
  min-height: 30px;
  min-width: 32px;
  padding: 4px 8px;
  margin-bottom: 4px;
  background-color: #aaa;
  color: #fff;
  font-size: 1.1em;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
  text-shadow: 0 1px 0 rgba(0,0,0, 0.3);
  text-decoration: none;
  letter-spacing: 1px;
  text-align: center;
  outline: none;
  border-radius: 2px;
  transition: background-color 0.15s ease-in-out;
  box-shadow: 0 2px 0 0 #777;
  cursor: pointer;
}

button.button,
input[type=submit].button {
  padding: 6px 8px;
}

.button:hover {
  background-color: #bbb;
  color: white;
}

.button:active {
  box-shadow: 0 1px 0 0 #777;
  top: 1px;
}

.button.button-primary {
  background-color: #3f8abf;
  box-shadow: 0 2px 0 0 #2c6085;
}
.button.button-primary:hover { background-color: #4795cc; }
.button.button-primary:active { box-shadow: 0 1px 0 0 #2c6085; }

.button.button-success {
  background-color: #7da248;
  box-shadow: 0 2px 0 0 #57762a;
}
.button.button-success:hover { background-color: #90b45c; }
.button.button-success:active { box-shadow: 0 1px 0 0 #57762a; }

.button.button-warning {
  background-color: #f6cc68;
  box-shadow: 0 2px 0 0 #ddb24d;
}
.button.button-warning:hover { background-color: #fad375; }
.button.button-warning:active { box-shadow: 0 1px 0 0 #ddb24d; }

.button.button-danger {
  background-color: #a94d4d;
  box-shadow: 0 2px 0 0 #7a2d2d;
}
.button.button-danger:hover { background-color: #b85c5c; }
.button.button-danger:active { box-shadow: 0 1px 0 0 #7a2d2d; }

/* Button dropdown */
.button-group,
.dropdown {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  margin-top: 10px;
  list-style: none;
  background-color: white;
  border: 1px solid rgba(0,0,0,.15);
  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.open>.dropdown-menu {
  display: block;
}

.dropdown-menu li {
  padding: 5px 8px;
}

.dropdown-header {
  background: whitesmoke;
  font-weight: bold;
  border-top: 1px solid #d3d2d2;
  border-bottom: 1px solid #d3d2d2;
}

.dropdown-header:first-child {
  border-top: 0;
}

.dropdown-menu .dropdown-item {
  cursor: pointer;
}

.dropdown-menu .dropdown-item a {
  color: black;
  text-decoration: none;
}

.dropdown-menu .dropdown-item:hover {
  background-color: #fafafa;
}

.dropdown-menu .icon:before {
  font-family: fontAwesome;
  padding-right: 7px;
}

.dropdown-menu .toggle {
  color: #767676;
}

.dropdown-menu .dropdown-item a {
  padding: 5px 8px;
  display: block;
}

.dropdown-menu .dropdown-item.no-padding {
  padding: 0;
}

nav .dropdown li {
  display: block;
}

nav .dropdown li a {
  font-size: 16px;
}